:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --heder-text-color: #212121;
  --background-color: #2f303a;
  --background-color-bottom: #f5f4fa;
  --background-color-bott: #188ce8;
  --footer-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --pictures-color: #f5f4fa;
  --company-boarder: #afb1b8;
}
