.work-section__social {
  display: flex;

  justify-content: center;
}

.work-section__network {
  justify-content: center;
}
.work-section__title {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--secondary-title-color);
  }
}
.work-section-list {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
  }
}
.work-section {
  padding-top: 0;
}
.work-section-list {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
  }
}
.work-section__person {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--heder-text-color);
}

.work-section__person {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--heder-text-color);
}
.work-section__item {
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: calc(45% - 15px);
    margin: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    flex-basis: calc(100% / 4 - 30px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-title-color);
  }
}

.work-section__team-text {
  font-size: 16px;
  margin-bottom: 16px;
}
.work-section__team {
  padding-top: 0;
}
.work-section__bottom {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.work-section__network {
  justify-content: center;
  margin-left: 10px;
  transition-duration: 500ms;
}

.about-text {
  margin-top: 10px;
}

.about-title {
  @media screen and (min-width: 480px) {
    justify-content: space-evenly;
    justify-content: center;
    display: flex;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-top: 30px;
  }
}

.work-section__social {
  display: flex;

  justify-content: center;
}

.work-section__social-network {
  justify-content: center;
}

.work-section {
  padding-top: 0;
}

.about-item {
  flex-basis: calc(100% / 4 - 30px);
}
.label__item {
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
  }
}
